$oauth-icon-width: 60px;
$oauth-icon-height: 60px;

.login-icon {
  width: $oauth-icon-width;
  height: $oauth-icon-height;
  border-radius: 100%;

  &:hover {
    background-color: rgb(241, 241, 241);
    transition-timing-function: ease;
  }
}

.link-plain {
  text-decoration: none;
}

.sessions-preview {
  display: flex;
  flex-wrap: wrap;
}

.text-underline {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
.uncenter-content {
  text-align: start;
}